:root {
    --bg-brand: #2da944;
    --line-color: #e6e7e8;
    --dark-border: #a7a9ac;
}

#chart-container .orgchart {
    background: none;
    width: 100%;
}

.orgchart .node {
    min-width: 10rem;
    width: auto;
}

.orgchart .node .accordion {
    display: none;
}

.orgchart .node .title {
    background-color: var(--bg-brand);
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    font-weight: 400;
    min-height: 1.5rem;
    height: 100%;
    padding: 0 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.orgchart .node .custom-title {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0;
}

.orgchart .node .custom-title h4 {
    margin: 0 0 0 0.5rem;
}

.nodes table {
    margin: auto;
}

.orgchart .node:hover {
    border-radius: 3px;
}

.orgchart .node .content {
    border-color: var(--dark-border);
    min-height: 2rem;
    height: auto;
    text-align: initial;
    padding: 0.5rem;
}

.orgchart .node .content p {
    margin-bottom: 0.5rem;
}

.orgchart .node .content div div >p:not(:last-child),
.orgchart .node .content #accordion >p:not(:last-child) {
    margin-bottom: 0.5rem;
}

.orgchart .lines .downLine {
    background-color: var(--line-color);
}

.orgchart .lines .rightLine,
.orgchart .lines .leftLine {
    border-color: var(--line-color);
}

.edit-node {
    margin-left: 0.5rem;
    cursor: pointer;
}

.add-child {
    cursor: pointer;
}
