:root {
    --bg-brand: #2da944;
    --line-color: #e6e7e8;
    --dark-border: #a7a9ac;
}

#chart-container .orgchart {
    background: none;
    width: 100%;
}

.orgchart .node:hover {
    background-color: transparent;
    cursor: pointer;
}

.orgchart .node {
    min-width: 10rem;
    width: auto;
    position: relative;
    margin: 0 0.5rem 1.5rem;

    border: 1px solid var(--line-color);
    border-radius: 3px;
    padding: 1rem;
}

.orgchart .node .add-child {
    content: "+";
    color: var(--dark-border);
    font-size: 1.5rem;
    position: absolute;
    line-height: 1rem;
    bottom: -1.25rem;
    left: 0;
    right: 0;

    margin: 0 45%;
}

.orgchart .node .custom-title,
.orgchart .node .first-title {
    display: flex;
    cursor: default;
}

.orgchart .node .delete-node {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--dark-border);
}

.orgchart .node .first-title {
    margin: -1rem;
    padding: 1rem;
    border-radius: 3px;
}

.orgchart .node .custom-title h4 {
    margin-right: 2rem;
}

.orgchart .node .custom-title h4,
.orgchart .node .first-title h4 {
    color: var(--bg-brand);
    margin-bottom: 0;
}

.nodes table {
    margin: auto;
}

.orgchart .node:hover {
    border-radius: 3px;
}

.orgchart .lines .downLine {
    background-color: var(--line-color);
}

.orgchart .lines .rightLine,
.orgchart .lines .leftLine {
    border-color: var(--line-color);
}

.edit-node {
    margin-left: 0.5rem;
    cursor: pointer;
}

.add-child {
    cursor: pointer;
}
